body{
  z-index: -1;
}
#bg{
   background-repeat:no-repeat;
    position:fixed;
    width:1100px;
    height:730px;
    background-size:cover;
    background-image: url("resources/SVG/starysky.svg");
    background-position:50% 0%;
    background-size: 4200px 1874px;
  z-index:0;
  top:0px;
  left:0px;
  right:0px;
  margin:auto;


  
}


.speech-bubble {

	width: 50px;
	height: 200px;
    background-color:aliceblue;
    opacity:0.5;
	border: 38px solid transparent;

}

#lantern {
  background-image:url("resources/lantern.png");
  background-repeat:no-repeat;
  background-size:auto;
  width:40%;
  height:40%;
  position:fixed;
  z-index:1;
  left:100px;
  transition: bottom 1s;
}

#display{
  z-index:0;
  width:704px;
}

#downButton{
  
}

.lanterns {
    position:absolute;
    z-index:1;
    top:110%;
    width:50%;
    height:50%;
    transition:top 5s;

}

#lanternClick {
	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
  	-webkit-filter: drop-shadow(0px 0px 12px rgba(0, 231, 255, 0.8));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

#lanternClick:hover {
	-webkit-filter: drop-shadow(0px 0px 20px rgba(255, 253, 245, 0.8));
}

#moon {
  z-index: 2;
  -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
  	-webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;

}

#moon:hover{
  
  	-webkit-filter: drop-shadow(0px 0px 20px rgba(255, 253, 245, 0.8));

}
 
/* This is specs for the arrow*/
$size: 80px;
$speed: 3s;
$peakopacity:0.7;


@keyframes arrows {
   0%   {top:87%;}
  25%  {top:87%;}
  50%  {top:88%;}
  75%  {top:88%;}
  100% {top:87%;}
}



#downward {
  
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #f00;
  cursor:pointer;
  left:47%;
  top:96%;
  position:absolute;
  animation: arrows $speed linear infinite;
}



#leftward{
    
width: 0;
height: 0;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #f00 transparent transparent;
position:absolute;
  cursor:pointer;

    top:45%;
    
}


#rightward{
    
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #f00;
  position:absolute;
    cursor:pointer;

  right:0%;
  top:45%;
}




.swinglantern {
    animation: swing ease-in-out 2.4s infinite alternate;
    transform-origin: center -20px;
  
     -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
  	-webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;

    width:200px;
}

.swinglantern:hover {
    	-webkit-filter: drop-shadow(0px 0px 20px rgba(255, 253, 245, 0.8));

}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

#firework {
  	-webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));

}

#firework:hover {
  
    -webkit-filter: drop-shadow(0px 0px 20px rgba(255, 253, 245, 0.8));

    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

#grandma {
  -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
  	-webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

#grandma:hover {
    	-webkit-filter: drop-shadow(0px 0px 20px rgba(255, 253, 245, 0.8));

}

#boy {
   -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
  	-webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

#boy:hover {
    	-webkit-filter: drop-shadow(0px 0px 20px rgba(255, 253, 245, 0.8));

}

#bunny {
  -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
  -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#bunny:hover {
    -webkit-filter: drop-shadow(0px 0px 20px rgba(255, 253, 245, 0.8));
}


#yuanzibowl {
  	-webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));

}


#yuanzibowl:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
    -webkit-filter: drop-shadow(0px 0px 20px rgba(255, 253, 245, 0.8));

}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}




canvas {
	cursor: crosshair;
	display: block;
  z-index: 1;
}
